venv/
inventory_app/logs/app.log
inventory_app/config.ini
/inventory_app/__pycache__/
/inventory_app/use_cases/__pycache__/
/inventory_app/entity/__pycache__/
inventory_app/entity/__pycache__/*.pyc
inventory_app/logs/app.log
inventory_app/logs/app.log
*.log
*.pyc
run_app.bat

/inventory_app/entity/__pycache__
*.pyc
inventory_app/entity/__pycache__/brands.cpython-310.pyc
inventory_app/entity/__pycache__/categories.cpython-310.pyc
inventory_app/entity/__pycache__/customer.cpython-310.pyc
/inventory_app/__pycache__
